.pendentes{
    background-color: var(--cor-pendente-fundo);
    border: solid 2px var(--cor-pendente-borda);
    border-radius: 20px;
}
.botao-check{
    height: 20px;
    width: 20px;
}
.botao-editar{
    height: 20px;
    width: 20px;
}
.botoes-card{
    display: flex;
}